.DS_Store
.AppleDouble
.LSOverride
/node_modules
/public/storage
/vendor
/.idea
/bin
Homestead.json
Homestead.yaml
.env
.vagrant
composer.lock
coverage.xml
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php.php