---
version: "2.4"
services:

  mariadb:
    image: mariadb:latest
    container_name: laravel-log-to-db-mariadb
    networks:
      - laravel-log-to-db-testing
    ports:
      - "3366:3306"
    environment:
      MYSQL_DATABASE: 'logtodb'
      MYSQL_ROOT_PASSWORD: 'root'
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'

  mongo:
    image: mongo:latest
    container_name: laravel-log-to-db-mongodb
    networks:
      - laravel-log-to-db-testing
    ports:
      - "27888:27017"

  php8:
    image: ghcr.io/danielme85/lltdb-testbench
    container_name: laravel-log-to-db-php8
    tty: true
    depends_on:
      - "mariadb"
      - "mongo"
    networks:
      - laravel-log-to-db-testing
    volumes:
      - .:/var/testing
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_DATABASE=logtodb
      - DB_USERNAME=root
      - DB_PASSWORD=root
      - MDB_DATABASE=logtodb
      - MDB_HOST=mongo
      - MDB_PORT=27017
    entrypoint: bash -c "
      cd /var/testing &&
      composer install --no-interaction &&
      dockerize -wait tcp://mariadb:3306 -timeout 1m &&
      ./vendor/bin/phpunit --coverage-clover coverage.xml &&
      curl -Os https://uploader.codecov.io/latest/linux/codecov &&
      chmod +x codecov &&
      ./codecov
     "

networks:
  laravel-log-to-db-testing:
    driver: bridge
